.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: calc(100vh - 150px);
  background: transparent;

  h1 {
    padding: 10px;
  }
  p {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
