.taskList {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 320px));
    gap: 10px;
    border-radius: 5px;
    margin-left: 15px;
    li {
      width: 100%;
    }

    .colum {
      margin: 8px 0 0 0;
      border-radius: 15px;
      width: 95%;
      max-width: 320px;
      background: #5f9ea0a6;
      padding: 0 10px 10px;

      &__headline {
        margin-bottom: 8px;
        padding-left: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
      }
      .scrollBlock {
        height: calc(100vh - 300px);
        overflow: auto;
        border-radius: 15px;
        scrollbar-gutter: stable both-edges;
        &__taskTape {
          min-height: 100%;
          background: #5f9ea0a6;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  &__item {
    text-align: left;
    padding: 8px;
    color: black;
    text-decoration: none;
    border: none;
    //border-bottom: 1px solid black;
    min-width: 100%;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
}
