.taskList {
  //height: calc(100vh - 155px);
  min-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  &__wrap {
    display: grid;
    //grid-template-columns: repeat(3, minmax(400px, 33%));
    gap: 5px;
    border-radius: 5px;
    justify-content: space-between;
    min-height: 100%;
    li {
      width: 100%;
    }

    .colum {
      margin: 8px 0 0 0;
      border-radius: 15px;
      width: 100%;
      //max-width: 320px;
      background: #5f9ea0a6;
      padding: 0 10px 10px;

      &__headline {
        margin-bottom: 8px;
        padding-left: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
      }
      .scrollBlock {
        height: calc(100vh - 200px);
        overflow: auto;
        border-radius: 15px;
        scrollbar-gutter: stable both-edges;
        &__taskTape {
          min-height: 100%;
          background: #5f9ea0a6;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(3, minmax(400px, 33%));
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(420px, 33%));
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(3, minmax(320px, 33%));
    }
    @media screen and (max-width: 320px) {
      grid-template-columns: repeat(3, minmax(240px, 33%));
    }
  }
  &__item {
    text-align: left;
    padding: 8px;
    color: black;
    text-decoration: none;
    border: none;
    //border-bottom: 1px solid black;
    min-width: 100%;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
}
