.task {
  color: black;
  user-select: none;
  padding: 5px;
  margin: 0 0 8px 0;
  min-height: 50px;
  border-radius: 15px;
  position: relative;
  p {
    margin: 0;
  }
  &__headline {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
    span {
      margin-right: 5px;
    }

    .edit {
      margin-left: auto;
      width: 30px;
      height: 30px;
      svg {
        width: 25px;
        height: 25px;
      }
      &:hover {
        padding: 0;
      }
    }
  }

  &__card {
  }
  .rotateCard {
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    button {
      padding: 2px;
    }
  }
}
