body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
.container {
  max-width: 90%;
  width: 1354px;
  margin: 0 auto;
}

button,a {
  background: none;
  transition: all 0.1s linear;
}

button,a:hover {
  background: gray;
  color: white;
  border-radius: 5px;
}
.goBackButton {
  position: absolute;
  top: -100px;
  left: 0;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  padding-inline-start: 0;
}
