body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  margin: 0;
  box-sizing: border-box;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
}
.app {
}
.container {
  max-width: 97%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button,a {
  background: none;
  transition: all 0.1s linear;
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.justClick {
  animation: rotate 200ms linear;
}
button,a:hover {
  background: gray;
  color: white;
  border-radius: 5px;
}

ul{
  padding-inline-start: 0;
}

button {
  background: transparent;
  border: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-left: 10px
}
button:hover {
  color: white;
  background: #395d77;
  cursor: pointer;
  padding: 2px;
}
button:hover svg {
  fill: white;
  transition: all 0.1s linear;
}
button:disabled {
  cursor: auto;

}

button:disabled svg {
  fill: black;
}


button svg {
  width: 20px;
  height: 20px;
  padding: 3px;
  fill: black;
}
textarea {
  width: 100%;
  height: auto;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 5px;
}

@media screen and (max-width: 1200px)  {
  .container{
    max-width: 95%
  }
}


